---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ tag }}</a>
    {% endfor %}
  </span>
  <!-- BEGIN this would not work on any other domain -->
  <span
    class           = "like-wrapper"
    like-shortname  = '{{ site.disqus }}'
    like-identifier = '{{ page.guid }}'
    like-name       = '{{ page.title }}'
    like-btn        = '&#xf087;'
    like-link       = '{{ site.atom-baseurl }}{{ page.url }}'
    ></span>
<!--   <script type="text/javascript">
  var l = document.createElement('script');
  l.type = 'text/javascript'; l.async = true; l.src = 'http://www.like-btn.com/javascript/widget.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(l);
</script> -->
  <!-- END this would not work on any other domain -->
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  {% if page.guid %}
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon
    <span><a href="javascript:leave_comment();" id="leave_comment_link"><i class="fa fa-comment-o"></i></a></span>
    <span><a href="javascript:collapse_comment();" id="collapse_comment_link" style="display:none;"><i class="fa fa-chevron-up"></i></a></span>
      END comment icon -->

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

  <div class="ds-share flat" data-thread-key="{{ page.guid }}" data-title="{{ page.title }}" data-images="" data-content="{{ page.excerpt }}" data-url="www.seeyoui.com/{{ page.url }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
        
        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
        <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
        
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>
  <!-- BEGIN comment -->
  <section class="comment">
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.guid }}" data-title="{{ page.title }}" data-url="www.seeyoui.com/{{ page.url }}"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"seeyoui"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
  <!-- 多说公共JS代码 end -->

  </section>
  <!-- END comment -->
  {% endif %}
</article>
